main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-image: url('images/outside.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  background-color: black;
  color: white;
}

.chapters {
  max-width: 54em;
  margin: 0 auto;
}
