main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-image: url('images/outside.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  background-color: black;
  color: white;
}

.chapters {
  max-width: 54em;
  margin: 0 auto;
}

.chapter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 1.75;
  text-align: left;

  -webkit-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
}

.buttonBack, .buttonForward {
  margin: auto 5%;
}

.navButton {
  color: white;
  background-color: black;

  border: none;
  box-shadow: 8px 0 black,
              -8px 0 black,
              0 8px black,
              0 -8px black,
              2px 0 0 4px black,
              -2px 0 0 4px black,
              0 2px 0 4px black,
              0 -2px 0 4px black,
              10px 0 white,
              -10px 0 white,
              0 10px white,
              0 -10px white,
              4px 0 0 4px white,
              -4px 0 0 4px white,
              0 4px 0 4px white,
              0 -4px 0 4px white;

  font-size: 1.5em;
  font-weight: bold;
}

.navButton:hover {
  background-color: aquamarine;
}

.narrative {
  margin: 10% auto;
  padding: 5%;

  width: auto;
  min-height: 175px;
  overflow: auto;

  color: white;
  background-color: black;

  box-shadow: 8px 0 black,
              -8px 0 black,
              0 8px black,
              0 -8px black,
              2px 0 0 4px black,
              -2px 0 0 4px black,
              0 2px 0 4px black,
              0 -2px 0 4px black,
              10px 0 white,
              -10px 0 white,
              0 10px white,
              0 -10px white,
              4px 0 0 4px white,
              -4px 0 0 4px white,
              0 4px 0 4px white,
              0 -4px 0 4px white;
}

.narrative > .avatar {
  float: right;
  margin: 0 5%;
}