* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: white;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  color: inherit;
  line-height: normal;

  cursor: pointer;

  background-color: #35a;
  border: 1px solid #57c;

  margin: 0;
  padding: 0.4em;

  transition-duration: 0.2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
