*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  margin: auto;
  padding: 0;
  overflow: hidden;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  --background-color-light: rgb(248, 241, 241);
  --background-color-dark: rgb(24, 24, 24);
  --font-color-light: rgb(24, 24, 24);
  --font-color-dark: rgb(248, 241, 241);

  background-image: url('images/outside.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--background-color-light);
  color: var(--font-color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: var(--font-color-light);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

button {
  color: inherit;
  cursor: pointer;
  background-color: #35a;
  border: 1px solid #57c;
  line-height: normal;
  padding: 0.4em;
  transition-duration: 0.2s;
  user-select: none;
}
